---
- name: Remove Ruby Package
  become: true
  apt:
    name: ruby
    state: absent
    force: yes

- name: download gpg key for rvm
  shell: gpg --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB

- name: install rvm
  shell: \curl -L https://get.rvm.io | bash -s stable

- name: install ruby
  shell: ~/.rvm/bin/rvm install --default {{ ruby_version }} creates=~/.rvm/rubies/{{ ruby_version }}
